{% extends 'server/technical/pattern.html' %}
{% load static %}

{% block title %}{{ data.title }}{% endblock %}
    {% block content %}
            <div class="row mbn-50">
                <!--Author Top Start-->
                <div class="col-12 mb-50">
                    <div class="author-top">
                        <div class="inner">
                            <div class="author-profile">
                                <div class="image">
                                    <img src="{% static 'server/assets/images/avatar/profile.jpg' %}" class="d-none" alt="">
                                    <h2>MH</h2>
                                    <button class="edit"><i class="zmdi zmdi-cloud-upload"></i>Change Image</button>
                                </div>
                                <div class="info">
                                    <h5>{{ user.username }}</h5>
                                    <span>Мой тариф: {{ user.flesh.tariff.name }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Author Top End-->

                <!--Timeline / Activities Start-->

                <!--Timeline / Activities End-->
                <div class="col-md-6 col-12 mb-30">
                    <div class="box">
                        <div class="box-head">
                            <h4 class="title">Ваш реферальный код!</h4>
                        </div>
                        <div class="box-body">
                            <p>Lorem ipsum dolor sit amet, consectetur <span id="paragraphClipboard2" class="fw-700 text-primary">http://localhost:8000/register?ref={{ user.rif_token }}</span>. Quidem porro reiciendis odio in cumque omnis fuga iusto ipsam asperiores nesciunt officia officiis labore laboriosam aperiam deleniti consequatur debitis, ea. Veniam.</p>
                            <button class="button button-primary button-clipboard mb-0 mt-15" data-clipboard-target="#paragraphClipboard2">Copy</button>
                        </div>
                    </div>
                </div>

                <div class="col-xlg-12 col-lg-6 col-12 mb-30">

                            <div class="box">
                                <div class="box-head">
                                    <h3 class="title">История финансовых операций</h3>
                                </div>
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table class="table">

                                            <!-- Table Head Start -->
                                            <thead>
                                                <tr>
                                                    <th>Наименование</th>
                                                    <th>Комментарий к платежу</th>
                                                    <th>Статус</th>
                                                    <th>Стоимость</th>
                                                </tr>
                                            </thead><!-- Table Head End -->

                                            <!-- Table Body Start -->
                                            <tbody>
                                            {% for el in payments %}
                                                <tr>
                                                    {% if el.category == 'update' %}
                                                        <td class="text-danger fw-600">{{ el.get_category_display  }}</td>
                                                    {% elif el.category == 'purchase_bonuses' %}
                                                        <td class="text-warning fw-600">{{ el.get_category_display  }}</td>
                                                    {% elif el.category == 'purchase' %}
                                                        <td class="text-success fw-600">{{ el.get_category_display  }}</td>
                                                    {% elif el.category == 'enrollment' %}
                                                        <td class="text-success fw-600">{{ el.get_category_display  }}</td>
                                                    {% elif el.category == 'withdrawal' %}
                                                        <td class="text-success fw-600">{{ el.get_category_display  }}</td>
                                                    {% endif %}
                                                    <td>
                                                        <p>{{ el.dsc }}</p>
                                                    </td>
                                                    {% if el.get_status_display == 'В ожидании'%}
                                                    <td><span class="text-info d-flex justify-content-between fw-600">{{ el.get_status_display }}</span></td>
                                                    {% elif el.get_status_display == 'Отклонен' or el.get_status_display == 'Заблокирован' or el.get_status_display == 'Неуспешный' %}
                                                    <td><span class="text-danger d-flex justify-content-between fw-600">{{ el.get_status_display }}</span></td>
                                                    {% elif el.get_status_display == 'Отменен' or el.get_status_display == 'Возврат' %}
                                                    <td><span class="text-warning d-flex justify-content-between fw-600">{{ el.get_status_display }}</span></td>
                                                    {% elif el.get_status_display == 'В обработке' or el.get_status_display == 'На проверке' %}
                                                    <td><span class="text-secondary d-flex justify-content-between fw-600">{{ el.get_status_display }}</span></td>
                                                    {% elif el.get_status_display == 'Успешный' %}
                                                    <td><span class="text-success d-flex justify-content-between fw-600">{{ el.get_status_display }}</span></td>
                                                    {% endif %}
                                                    <td><span class="text-success d-flex justify-content-between fw-600">{{ el.price }} ₽<span class="tippy ml-10" data-tippy-content="Операция была завершена <br/> {{ el.date }}."><i class="zmdi zmdi-info-outline"></i></span></span></td>
                                                </tr>
                                            {% endfor %}

                                            </tbody><!-- Table Body End -->
                                        </table>
                                    </div>
                                </div>
                                <div class="col-12 mb-15 d-flex justify-content-end mb-3" >
                                    <a href="{% url 'payment_history' %}" class="button button-warning">Подробнее</a>
                                </div>
                            </div>

                        </div>
                <!--Right Sidebar Start-->
                <div class="col-xlg-8 col-12 mb-50">
                    <div class="row mbn-30">

                        <!--Author Information Start-->
                        <div class="col-12 mb-30">
                    <div class="box">
                        <div class="box-head">
                            <h3 class="title">Техподдержка</h3>
                        </div>
                        <div class="box-body">

                            <div class="smart-wizard">
                                <ul>
                                    <li><a href="#step-1">Проблемы с сайтом</a></li>
                                    <li><a href="#step-2">Проблема с IDF</a></li>
                                    <li><a href="#step-3">Финансовый вопрос</a></li>
                                    <li><a href="#step-4">Иное</a></li>
                                </ul>

                                <div>
                                    <div id="step-1">
                                        <form action="#" method="post">
                                            {% csrf_token %}
                                            <div class="row mbn-20">
                                                <div class="col-12 mb-20">
                                                    <h4>Проблемы с сайтом</h4>
                                                </div>
                                                <div class="col-lg-6 col-12 mb-20">{{ form.name }}</div>
                                                <div class="col-lg-6 col-12 mb-20">{{ form.mail }}</div>
                                                <div class="col-12 mb-20">{{ form.dsc }}</div>
                                                <div class="col-12 mb-20">{{ catForm.category_site }}</div>
                                                <button type="submit" class="button button-primary col-lg-3 col-6 mb-20">Отправить заявление</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="step-2">
                                        <form action="#" method="post">
                                            {% csrf_token %}
                                            <div class="row mbn-20">
                                                <div class="col-12 mb-20">
                                                    <h4>Проблема с IDF</h4>
                                                </div>
                                                <div class="col-lg-6 col-12 mb-20">{{ form.name }}</div>
                                                <div class="col-lg-6 col-12 mb-20">{{ form.mail }}</div>
                                                <div class="col-12 mb-20">{{ form.dsc }}</div>
                                                <div class="col-12 mb-20">{{ catForm.category_idf }}</div>
                                                <button type="submit" class="button button-primary col-lg-3 col-6 mb-20">Отправить заявление</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="step-3">
                                        <form action="#" method="post">
                                            {% csrf_token %}
                                            <div class="row mbn-20">
                                                <div class="col-12 mb-20">
                                                    <h4>Финансовый вопрос</h4>
                                                </div>
                                                <div class="col-lg-6 col-12 mb-20">{{ form.name }}</div>
                                                <div class="col-lg-6 col-12 mb-20">{{ form.mail }}</div>
                                                <div class="col-12 mb-20">{{ form.dsc }}</div>
                                                <div class="col-12 mb-20">{{ catForm.category_money }}</div>
                                                <button type="submit" class="button button-primary col-lg-3 col-6 mb-20">Отправить заявление</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="step-4">
                                        <form action="#" method="post">
                                            {% csrf_token %}
                                            <div class="row mbn-20">
                                                <div class="col-12 mb-20">
                                                    <h4>Иное</h4>
                                                </div>
                                                <div class="col-lg-6 col-12 mb-20">{{ form.name }}</div>
                                                <div class="col-lg-6 col-12 mb-20">{{ form.mail }}</div>
                                                <div class="col-12 mb-20">{{ form.dsc }}</div>
                                                <div class="col-12 mb-20">{{ catForm.category_other }}</div>
                                                <button type="submit" class="button button-primary col-lg-3 col-6 mb-20">Отправить заявление</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                    </div>
                </div>
                <!--Right Sidebar End-->

            </div>

        </div><!-- Content Body End -->


      {% endblock %}

<script>
   $('.smart-wizard').smartWizard({
    showStepURLhash: false,
});

FilePond.registerPlugin(FilePondPluginImageExifOrientation, FilePondPluginImagePreview);
const inputElement = document.querySelector('.file-pond');
const pond = FilePond.create( inputElement, {
    imagePreviewHeight: 140,
});
</script>


