{% extends 'server/technical/pattern.html' %}
{% load static %}


{% block title %}{{ data.title }}{% endblock %}
{% block content %}
                <!-- Page Button Group Start -->
            {% if data_user.status_idf == 'not_connect' %}
                <button class="button button-danger" data-toggle="modal" data-target="#not_connect">Перейти в чат</button>
            {% elif data_user.status_idf == 'waiting' %}
                <button class="button button-warning" data-toggle="modal" data-target="#waiting">Перейти в чат</button>
            {% elif data_user.status_idf == 'connected' %}
                {% if is_active_chat != None %}
                    <button class="button button-success" data-toggle="modal" data-target="#connected">Перейти в чат</button>
                {% else %}
                    <button class="button button-warning" data-toggle="modal" data-target="#auth_local_key">Перейти в чат</button>
                {% endif %}
            {% endif %}
            <a href="{% url 'set-idf-form' %}" class="button button-warning">Настроить доступ индификатора</a>


            <!-- Top Report Wrap Start -->
             <div class="row">
                <!-- Top Report Start -->
                <div class="col-xlg-3 col-md-6 col-12 mb-30">
                    <div class="top-report top-report-2">

                        <!-- Icon -->
                        <div class="icon"><img src="{% static 'server/assets/images/icons/cryptocurrency-top-sale-report-1.png' %}" alt=""></div>

                        <!-- Head -->
                        <div class="head">
                            <h4>Доступно сообщений</h4>
                        </div>

                        <!-- Content -->
                        <div class="content">
                            <h2>{{ data_user.count_msg.0 }} из {{ data_user.count_msg.1 }}</h2>
                        </div>

                        <!-- Footer -->
                        <div class="footer">
                            <div class="progess">
                                <div class="progess-bar" style="width: {{ data_user.count_msg.2 }}%;"></div>
                            </div>
                            <p>Доступно: {{ data_user.count_msg.2 }} %</p>
                        </div>

                    </div>
                </div><!-- Top Report End -->

                <!-- Top Report Start -->
                <div class="col-xlg-3 col-md-6 col-12 mb-30">
                    <div class="top-report top-report-2">

                        <!-- Icon -->
                        <div class="icon"><img src="{% static 'server/assets/images/icons/cryptocurrency-top-sale-report-2.png' %}" alt=""></div>

                        <!-- Head -->
                        <div class="head">
                            <h4>Доступно диалогов</h4>
                        </div>

                        <!-- Content -->
                         <div class="content">
                            <h2>{{ data_user.count_dialog.0 }} из {{ data_user.count_dialog.1 }}</h2>
                        </div>

                        <!-- Footer -->
                        <div class="footer">
                            <div class="progess">
                                <div class="progess-bar" style="width: {{ data_user.count_dialog.2 }}%;"></div>
                            </div>
                            <p>Доступно: {{ data_user.count_dialog.2 }} %</p>
                        </div>

                    </div>
                </div><!-- Top Report End -->

                <!-- Top Report Start -->
                <div class="col-xlg-3 col-md-6 col-12 mb-30">
                    <div class="top-report top-report-2">

                        <!-- Icon -->
                        <div class="icon"><img src="{% static 'server/assets/images/icons/cryptocurrency-top-sale-report-3.png' %}" alt=""></div>

                        <!-- Head -->
                        <div class="head">
                            <h4>Приглашенных пользователей</h4>
                        </div>

                      <!-- Content -->
                         <div class="content">
                            <h2>{{ data_user.count_invited_user.0 }} из {{ data_user.count_invited_user.1 }}</h2>
                        </div>

                        <!-- Footer -->
                        <div class="footer">
                            <div class="progess">
                                <div class="progess-bar" style="width: {{ data_user.count_invited_user.2 }}%;"></div>
                            </div>
                            <p>Доступно: {{ data_user.count_invited_user.2 }} %</p>
                        </div>
                    </div>
                </div><!-- Top Report End -->

                <!-- Top Report Start -->
                <div class="col-xlg-3 col-md-6 col-12 mb-30">
                    <div class="top-report top-report-2">

                        <!-- Icon -->
                        <div class="icon"><img src="{% static 'server/assets/images/icons/cryptocurrency-top-sale-report-4.png' %}" alt=""></div>

                        <!-- Head -->
                        <div class="head">
                            <h4>Вывод с внутреннего счета</h4>
                        </div>

                         <!-- Content -->
                         <div class="content">
                            <h2>{{ data_user.count_withdrawal.0 }} из {{ data_user.count_withdrawal.1 }}</h2>
                        </div>

                        <!-- Footer -->
                        <div class="footer">
                            <div class="progess">
                                <div class="progess-bar" style="width: {{ data_user.count_withdrawal.2 }}%;"></div>
                            </div>
                            <p>Доступно: {{ data_user.count_withdrawal.2 }} %</p>
                        </div>
                    </div>

                </div><!-- Top Report End -->
            </div><!-- Top Report Wrap End -->

            <div class="row mbn-30">
                <!-- Revenue Statistics Chart Start -->
                <div class="col-12 mb-30">
                    <div class="box">
                        <div class="box-head">
                            <h4 class="title">Мой тариф: <span style="color: #9C27B0">{{ user.flesh.tariff.name }}</span></h4>
                        </div>

                        <div class="box-body">

                            <div class="chart-legends-1 row">
                                <div class="chart-legend-1 col-12 col-sm-6 col-md-3">
                                    <h5>Мои сообщение</h5>
                                    <h3 class="text-secondary">{{ data_user.count_msg_user }} шт</h3>
                                </div>
                                <div class="chart-legend-1 col-12 col-sm-6 col-md-3">
                                    <h5>Скорость отправки сообщений</h5>
                                    <h3 class="text-primary">{{ data_user.delay }} сек</h3>
                                </div>
                                <div class="chart-legend-1 col-12 col-sm-6 col-md-3">
                                    <h5>Среднее кол-во символов</h5>
                                    <h3 class="text-warning">{{ data_user.mess_ln }} шт</h3>
                                </div>
                                <div class="chart-legend-1 col-12 col-sm-6 col-md-3">
                                    <h5>Степень защиты</h5>
                                    <h3 class="text-info">{{ data_user.deg_protection }} уровень</h3>
                                </div>
                            </div>

                            <div class="chartjs-revenue-statistics-chart-2">
                                <canvas id="chartjs-revenue-statistics-chart-2"></canvas>
                            </div>

                        </div>
                    </div>
                </div><!-- Revenue Statistics Chart End -->

                <!-- Market Trends Chart Start -->

                <!-- News & Updates Start -->
                <div class="col-xlg-5 col-lg-12 col-6 mb-30">
                    <!-- News & Updates Wrap Start -->
                    <div class="box">
                        <div class="box-head">
                            <h4 class="title">Новости & Обновления</h4>
                        </div>
                        <div class="box-body">
                            <!-- News & Updates Inner Start -->
                            <div class="news-update-inner">
                                {% for new in news %}
                                <!-- News Item -->
                                <div class="news-item">

                                    <!-- Content -->
                                    <div class="content">
                                        <!-- Category -->
                                        <div class="categories">
                                            {% if new.cat_status == new %}
                                                <a href="#" class="new">Новинка</a>
                                            {% elif new.cat_status == 'product' %}
                                                <a href="#" class="product">О продукте</a>
                                            {% elif new.cat_status == 'support' %}
                                                <a href="#" class="support">О сервисе</a>
                                            {% elif new.cat_status == 'tariff' %}
                                                <a href="#" class="refund">О тарифах</a>
                                            {% endif %}
                                            <a href="{% url 'news' new.category.id %}" class="product">{{ new.category }}</a>
                                        </div>
                                        <!-- Title -->
                                        <h4 class="title"><a href="{% url 'detail_news' new.id   %}">{{ new.title }}. {{ new.subtitle }}</a></h4>
                                        <!-- Meta -->
                                        <ul class="meta">
                                            <li><i class="zmdi zmdi-time"></i>{{ new.date }}</li>
                                        </ul>
                                    </div>

                                </div>

                                {% endfor %}
                                <!-- News Item -->


                            </div><!-- News & Updates Inner End -->
                        </div>
                    </div><!-- News & Updates Wrap End -->
                </div><!-- News & Updates End -->


                {% for el in cat %}
                    <p>{{ el.pk }}</p>
                {% endfor %}
                <!-- Top Selling Country Start -->
                <div class="col-xlg-7 col-12 mb-30">
                    <div class="box">
                        <div class="box-head">
                            <h4 class="title">Top Selling Country</h4>
                        </div>
                        <div class="box-body">
                            <div id="vmap-world-2" class="vmap vmap-world-2"></div>
                        </div>
                    </div>
                </div><!-- Top Selling Country End -->

                <!-- Recent Transaction Start -->


            </div>

        </div><!-- Content Body End -->
        <div class="modal fade" id="not_connect">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Вы не подключены не к одному чату!</h5>
                        <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="button button-danger" data-dismiss="modal">Отмена</button>
                        <a href="{% url 'set-idf-form' %}" class="button button-primary">Создать чат сервер</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="auth_local_key">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Авторизуйте бесперебойным соединением вашу программу с сервером!</h5>
                        <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        {{ is_active_chat }}
                        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="button button-danger" data-dismiss="modal">Понятно</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="waiting">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ваш собеседник пока не присоединился к вашему чат серверу</h5>
                        <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="button button-danger" data-dismiss="modal">Отмена</button>
                        <a href="{% url 'set-idf-form' %}" class="button button-primary">Создать новыйй чат сервер</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="connected">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Вы подключены к серверу, можно перейти в диалог!</h5>
                        <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    </div>
                    <div class="modal-footer">
                        <button class="button button-danger" data-dismiss="modal">Отмена</button>
                        <a href="#" class="button button-success">Начать общение</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

<script src="{% static 'server/assets/js/plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'server/assets/js/plugins/morris/morris.min.js' %}"></script>
<script src="{% static 'server/assets/js/plugins/morris/morris.active.js' %}"></script>


</body>

</html>