{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TRIGGER - {{ data.title }}</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
   <link rel="shortcut icon" type="image/x-icon" href="{% static 'server/assets/images/favicon.ico' %}">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'server/assets/css/vendor/bootstrap.min.css' %}">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'server/assets/css/vendor/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'server/assets/css/vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'server/assets/css/vendor/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'server/assets/css/vendor/cryptocurrency-icons.css' %}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'server/assets/css/plugins/plugins.css' %}">

    <!-- Helper CSS -->
    <link rel="stylesheet" href="{% static 'server/assets/css/helper.css' %}">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'server/assets/css/style.css' %}">

</head>

<body class="skin-dark">

    <div class="main-wrapper">

        <!-- Content Body Start -->
        <div class="content-body m-0 p-0">

            <div class="login-register-wrap">
                <div class="row">

                    <div class="d-flex align-self-center justify-content-center order-2 order-lg-1 col-lg-5 col-12">
                        <div class="login-register-form-wrap">

                            <div class="content">
                                <h1>Регистрация</h1>
                                {% if reference_user == 'Not code' %}
                                    <p style="color: #ff9666">Вы регистрируетесь без реферального кода!</p>
                                {% elif reference_user == 'Error code' %}
                                    <p style="color: #fd427c">Неверный реферальный код!</p>
                                {% elif reference_user == 'Error self' %}
                                    <p style="color: #fd427c">Нельзя использовать свой реферальный код!</p>
                                {% elif reference_user == 'Error_limit_invate_user' %}
                                    <p style="color: #fd427c">К сожалению, у пользователя исчерпан лимит на использование реферальной программы!</p>
                                    <p>Попросите вашего партнера обновить тариф или зарегистрируйтесь без реферальной программы!</p>
                                {% else %}
                                <p>Вы регистрируетесь с помощью реферальной программы! <br><b>Ваш партнер <span style="color: #29db2d" > {{ reference_user }}</span></b></p>
                                {% endif %}
                            </div>

                            <div class="login-register-form">
                               <form action="#" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 mb-20">{{ form.user_flesh_id }}</div>
                                        {% if form.user_flesh_id.errors %}
                                            <ul>
                                                {% for error in form.user_flesh_id.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                        <div class="col-12 mb-20">{{ form.username }}</div>
                                        {% if form.username.errors %}
                                            <ul>

                                                {% for error in form.username.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                        <div class="col-12 mb-20">{{ form.password }}</div>
                                        <div class="col-12 mb-20">{{ form.confirm_password }}</div>
                                        {% if form.confirm_password.errors %}
                                            <ul>
                                                {% for error in form.confirm_password.errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                        <div class="col-12">
                                            <div class="row justify-content-between">
                                                <div class="col-auto mb-15">Есть аккаунт? <a href="{% url 'login' %}">Авторизироваться</a></div>
                                            </div>
                                        </div>
                                        <div class="col-12 mt-10"><button class="button button-primary button-outline" type="submit">Зарегистрироваться</button></div>
                                    </div>
                                    {% if form.errors %}
                                        <ul>
                                            {% for error in form.non_field_errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="login-register-bg order-1 order-lg-2 col-lg-7 col-12">
                        <div class="content">
                            <h1>Sign up</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- Content Body End -->

    </div>

    <!-- JS
============================================ -->

    <!-- Global Vendor, plugins & Activation JS -->
    <script src="{% static 'server/assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'server/assets/js/vendor/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'server/assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'server/assets/js/vendor/bootstrap.min.js' %}"></script>
    <!--Plugins JS-->
    <script src="{% static 'server/assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'server/assets/js/plugins/tippy4.min.js.js' %}"></script>
    <!--Main JS-->
    <script src="{% static 'server/assets/js/main.js' %}"></script>

</body>

</html>